.header-hi {
    display: flex;
    align-items: flex-end;
    height: 23rem;
    background-color: palevioletred;
    
}

.header-hi h2 {
    font-size: 4em;
    padding-left: 37vh;
    color: white;
}

.hi-hand {
    /* height: 30%;
    margin-top: 19.45%; */
    /* padding: 20% 0 0 2%; */
    
}

.name-aziza h1 {
    font-size: 4em;
    padding-left: 11%;
}

.name-aziza h3 {
    font-size: 2em;
    padding-left: 11%;
}

.slide-pic {
    width: 50%;
}

.main-content {
    display: flex;
    gap: 20px;
}

.main-bio p {
    font-size: 1.4em;
}

.contact-me a {
    margin: 0 0 0 1em;
    padding: 0 2%;
    font-size: 48px;
    color: rgb(224, 119, 137);
}

.card-item {
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
}

.footer {
    background-color: palevioletred;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-top: 2%;
}

/* contact-page */

body::after {
  content: "";
  background: url(bg.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

.form-control {
    background-color: rgb(255, 228, 233);
}
